name: Publish Gem
on:
  push:
    tags:
    - '*'
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
    - uses: actions/checkout@v2
    - name: Build and publish gem
      uses: jstastny/publish-gem-to-github@master
      with:
       token: ${{ secrets.GITHUB_TOKEN }}
       owner: ${{ github.repository_owner }}
